# Define your new unittest following the convention:
# [unittest_name]
# file = foo.flat # Name of the flat file to be used
# smp  = 2        # Number of processors the VM will use during this test
#                 # Use $MAX_SMP to use the maximum the host supports.
# extra_params = -append <params...> # Additional parameters used
# arch = arm|arm64                   # Only if test case is specific to one
# groups = group1 group2 # Used to identify test cases with run_tests -g ...
# accel = kvm|tcg # Optionally specify if test must run with kvm or tcg.
#                 # If not specified, then kvm will be used when available.

#
# Test that the configured number of processors (smp = <num>), and
# that the configured amount of memory (-m <MB>) are correctly setup
# by the framework.
#
[selftest-setup]
file = selftest.flat
smp = 2
extra_params = -m 256 -append 'setup smp=2 mem=256'
groups = selftest

# Test vector setup and exception handling (kernel mode).
[selftest-vectors-kernel]
file = selftest.flat
extra_params = -append 'vectors-kernel'
groups = selftest

# Test vector setup and exception handling (user mode).
[selftest-vectors-user]
file = selftest.flat
extra_params = -append 'vectors-user'
groups = selftest

# Test SMP support
[selftest-smp]
file = selftest.flat
smp = $MAX_SMP
extra_params = -append 'smp'
groups = selftest

# TLB Torture Tests
[tlbflush::all_other]
file = tlbflush-test.flat
smp = $MAX_SMP
groups = tlbflush

[tlbflush::page_other]
file = tlbflush-test.flat
smp = $MAX_SMP
extra_params = -append 'page'
groups = tlbflush

[tlbflush::all_self]
file = tlbflush-test.flat
smp = $MAX_SMP
extra_params = -append 'self'
groups = tlbflush

[tlbflush::page_self]
file = tlbflush-test.flat
smp = $MAX_SMP
extra_params = -append 'page self'
groups = tlbflush

# Barrier tests
[barrier::plain]
file = barrier-test.flat
smp = $MAX_SMP
groups = barrier
accel = tcg

[barrier::lock]
file = barrier-test.flat
smp = $MAX_SMP
extra_params = -append 'lock'
groups = barrier
accel = tcg

[barrier::atomic]
file = barrier-test.flat
smp = $MAX_SMP
extra_params = -append 'atomic'
groups = barrier
accel = tcg

[barrier::barrier]
file = barrier-test.flat
smp = $MAX_SMP
extra_params = -append 'barrier'
groups = barrier
accel = tcg

[barrier::wfelock]
file = barrier-test.flat
smp = $MAX_SMP
extra_params = -append 'wfelock'
groups = barrier
accel = tcg

[barrier::excl]
file = barrier-test.flat
smp = $MAX_SMP
extra_params = -append 'excl'
groups = barrier
accel = tcg

[barrier::acqrel]
file = barrier-test.flat
smp = $MAX_SMP
extra_params = -append 'acqrel'
groups = barrier
accel = tcg
